*{border:0 none;font-family:inherit;font-weight:inherit;font-style:inherit;font-size:100%;outline:0;vertical-align:baseline;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;list-style-type:none;margin:0;padding:0;}
html{min-height:100%;height:100%;background:#fafafa;}
body{width:100%;min-height:100%;height:100%;background-color:#fafafa;overflow-y:scroll;position:relative;}
#background{width:100%;min-height:100%;height:100%;position:fixed;top:0;left:0;z-index:0;}
#wrapper{width:962px;padding-top:45px;left:50%;float:left;font-family:"Helvetica Neue", Helvetica, Arial, Sans-serif;font-size:12px;line-height:24px;position:relative;z-index:1;border-left:1px solid #ccc;border-right:1px solid #ccc;min-height:100%;background-color:#EAE8E9;margin:0 auto 0 -480px;}
#header{width:962px;position:fixed;top:0;left:50%;margin-left:-480px;background-color:#fafafa;z-index:2;border:1px solid #ccc;border-top:none;}
#header li.account{display:inline;margin-right:10px;color:#888;}
.fixed{position:fixed;}
.row{width:100%;float:left;position:relative;margin:10px 0;}
.c1,.c2,.c3,.c4,.c5,.c6{display:inline-block;min-height:1px;float:left;margin:0 10px;}
.c1{width:140px;}
.c2{width:299px;}
.c3{width:460px;}
.c4{width:620px;}
.c5{width:780px;}
.c6{width:940px;}
.placeholder {color:#fff !important;}
::-webkit-input-placeholder  { color:#fff; };
input:-moz-placeholder { color:#fff; };
.summary{float:left;background-color:#f2f2f2;-moz-border-radius:5px;-webkit-border-radius:5px;margin:0 0 50px;}
.summary .title{font-size:18px;color:#888;}
.summary .close{text-align:right;}
.red,.blue{height:12px;width:50px;display:inline-block;margin-right:5px;}
.red{background-color:red;}
.blue{background-color:#3FA9F5;}
.hotspotOne,.hotspotTwo,.hotspotThree,.hotspotFour,.hotspotFive{text-align:center;font-weight:700;color:#fff;background-color:#ff5959;display:inline-block;margin:0 10px;}
.hotspotOne{width:140px;height:140px;line-height:140px;-moz-border-radius:70px;-webkit-border-radius:70px;}
.hotspotTwo{width:120px;height:120px;line-height:120px;-moz-border-radius:60px;-webkit-border-radius:60px;}
.hotspotThree{width:90px;height:90px;line-height:90px;-moz-border-radius:45px;-webkit-border-radius:45px;}
.inflow{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:480px;background:#fafafa;float:left;border-right:1px solid #ccc;z-index:1;}
.inflow .row{border-top:1px solid #ccc;background-color:#fff;margin:0;padding:0 0 10px;}
.inflow .row .actions,.inflow .row .more,.widgets.fullMessage .row .actions,.row .more a.list.subject{float:right;font-size:11px;color:#888;}
.inflow .row .more a,.row .more a.list.subject{font-weight:400;color:#000;text-decoration:none;}
.inflow .row .more a:hover,.row .more a.list.subject:hover{text-decoration:underline;}
.totalReplies:empty:after{content:"0";}
.row .avatar{width:24px;height:24px;display:inline-block;background-color:#000;background-image:url("i/face.png");background-position:center center;background-repeat:no-repeat;}
.row .name{display:inline-block;vertical-align:top;padding:0 0 0 5px;}
.row .c1 .name{height:24px;width:112px;overflow:hidden;}
.inflow .row .subject{font-size:14px;font-weight:700;max-height:24px;overflow:hidden;}
.inflow .row .messageBody{color:#333;line-height:18px;overflow:hidden; max-height: 100px}
.inflow .row .messageReply,.inflow .row .messageAttachments{color:#666;background-color:rgba(204, 204, 204, 0.35);font-size:11px;line-height:18px;position:relative;margin:10px 0 0;padding:5px;}
.inflow .row .messageReply.noArrow{margin-top:2px;width:300px;overflow:hidden;}
.replies > .reply:nth-child(1) > .arrow{display:block;position:absolute;left:20px;top:-14px;}
.inflow .row .replies{float:left;position:relative;margin:10px 0;}
.inflow .row.read .subject{color:#666;}
.inflow .row .messageAttachments{background-color:transparent;border-top:none;color:#ff5959;font-weight:700;padding:5px 0;}
.inflow .row .messageReply .name,.inflow .row .messageAttachments .name{color:#000;font-weight:400;margin:0;padding:0;}
.inflow .row .arrow{position:relative;width:0;height:0;border-color:transparent;border-style:solid;border-width:8px;}
.inflow .row .twitterActions li{display:inline;color:#666;font-size:11px;margin:0 5px 0 0;}
.widgets{width:480px;position:fixed;right:50%;margin-right:-480px;top:100px;}
.widgets .accounts{font-size:14px;line-height:24px;}
.widgets .accounts li{padding-left:20px;}
.widgets .folders .title,.widgets .broadcastMessages .title,.widgets .mailingListMessages .title{color:#999;padding:0 0 0 20px;}
.widgets .folders li,.widgets .broadcastMessages li,.widgets .mailingListMessages li{font-weight:700;padding:0 0 0 20px;}
.widgets .folders li.pinned:after{content:" •";color:#ff5959;}
.widgets .selected{background-image:url("i/arrow.png");background-repeat:no-repeat;background-position:left center;font-weight:700;height:24px;display:table-caption;margin:0 0 0 -20px;padding:0 10px 0 20px;}
.row.read{background-color:#f2f2f2;}
.logo,.search{background-repeat:no-repeat;background-position:left center;height:24px;display:block;}
.search{background-image:url("i/search.png");}
.inflow.fixed{position:fixed;height:1000%;}
.widgets.analytics{position:relative;float:right;margin-right:0;top:0;right:0;width:480px;}
.widgets.fullMessage{position:relative;float:left;margin-right:0;top:0;right:0;width:480px;min-height:100%;padding-bottom:55px;}
#convDisplay{float:left;margin-right:0;top:0;right:0;width:480px;background-color:#fafafa;z-index:0;background-image:url("i/ajax-loader.gif");background-repeat:no-repeat;background-position:10px 65px;min-height:81px;display:none;}
#convDisplay .row{background-color:#fff;}
.widgets.fullMessage .row{margin:0;padding:10px 0;}
.widgets.fullMessage .row:first-child{border-top:1px solid #ccc;margin:0;padding:0;}
.widgets.fullMessage .message{max-height:24px;float:left;cursor:pointer;}
.widgets.fullMessage .subject{font-size:14px;font-weight:700;}
.widgets.fullMessage .row.fullReply .c3 .messageBody{color:#333;overflow:hidden;line-height:18px;display:none;margin:10px 0 0;}
.widgets.fullMessage .row.fullReply{border-top:1px dotted #ccc;}
.widgets.fullMessage a.quoteToggle{text-decoration:none;font-size:11px;color:#888;}
.widgets.fullMessage .row.fullReply .actions{font-size:12px;color:#000;display:block;margin:10px 0 0;}
.widgets.fullMessage .quoteContent.quote{display:none;color:#ff5959;font-size:12px;border-left:1px solid #ff5959;margin:5px 0 0;padding:0 0 0 10px;}
.conversation .from {width: 270px; overflow: hidden; height: 30px;}
.date{font-size:11px;color:#888;font-weight:400;}
.date.button:hover{color:#000;cursor:pointer;}
.inflow .date{margin:0 0 0 160px;}
.actions a{color:#888;text-decoration:none;font-size:11px;}
.subject:empty:after{content:'tweeted...';}
.name{color:#666;font-weight:700;}
.name:empty:after{content:'unknown';}
#header li.account{background-color:#ff5959;color:#fff;font-weight:700;-moz-border-radius:10px;-webkit-border-radius:10px;padding:2px 10px;}
li.indented{font-size:12px;color:#666;margin:0 0 0 14px;}
.hidden,.inflow .replies > .reply:nth-child(n+3),.arrow,.inflow .row .replies:empty,.inflow .row.read .replies,.fullConvClose,.widgets.fullMessage .quoteContent.quote br:first-child{display:none;}
.summary a,.inflow .row .more,.row .more list.subject,.inflow .row .subject a{color:#000;text-decoration:none;}
.inflow .row:last-child,.widgets.fullMessage .row.fullReply:last-child{border-bottom:1px solid #ccc;}
.inflow .row.highlight,#convDisplay .row.highlight{background-color:#ffffd9;}
#convDisplay.visible,.widgets.fullMessage .row.fullReply:last-child .messageBody,.widgets.fullMessage .row.fullReply .c3.show .messageBody,.widgets.fullMessage .quoteContent.quote.expanded{display:block;}

.account {position: absolute; top: 5px}
#mail_search_container, #irc_search_container {width: 475px; float: left; height: 100%}
.autocompleter .optionsMenu {
  position: absolute;
  top: 29px;
  right: 45px;
  min-width: 225px;
  max-width: 500px;
}

.autocompleter .loading {
  display: none; width: 16px; height: 16px; background-image: url('images/loader-teal.gif'); position: absolute; top: 12px; right: 55px;
}

.autocompleter {float: right; margin-right: 50px; display: inline-block;}
.autocompleter input {
  background: #0A5469 url('images/search.png') no-repeat scroll 3px 5px;
  color: white;
  height: 26px;
  line-height: 14px;
  margin: 5px 0px 5px 9px;
  padding: 0px 0px 0px 25px;
  width: 200px;
  outline-style: none;
  border: none;
  display: block;
  font-size: 14px;
}

.ie8 .autocompleter input {
  line-height: 26px;
}

.autocompleter label {
  position: absolute;
  top: 16px;
  left: 35px;
  font-family: "Geneva";
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 200;
  height: 29px;
  cursor: text;
}

.dropdown_filter {
  font-family: "Geneva";
  font-size: 14px;
  text-decoration: none;
  line-height: 27px;
  padding: 0px 0px 0px 1px;
  line-height: 50px;
  height: 50px;
  float: left;
  }
  .dropdown_filter .show_me {
    color: #FFF;
    float: left;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    padding: 0 1px 0 18px; }
  .dropdown_filter select {
    width: 100px; 
    line-height: 50px;
    }
  .dropdown_filter .menuContainer {
    background: #0A5469 url('images/dropdown.png') no-repeat scroll 141px 3.5px;
    color: black;
    float: left;
    height: 26px;
    margin: 12px 0px 0px 9px;
    padding: 0px;
    width: 169px;
    outline-style: none; }
    .dropdown_filter .menuContainer .selected {
      font-family: "Geneva";
      font-size: 12px;
      text-decoration: none;
      color: white;
      font-size: 14px;
      font-weight: 200;
      height: 29px;
      line-height: 27px;
      padding: 0 23px 0 0;
      margin-left: 10px;
      opacity: 1; }
    .dropdown_filter .menuContainer div {
      display: block;
      padding: 0px 0px 0px 9px;
      text-align: left !important;
      width: 149px; }
    .dropdown_filter .menuContainer ul.menu {
      -webkit-box-shadow: 3px 3px 8px #555;
      -moz-box-shadow: 3px 3px 8px #555;
      box-shadow: 3px 3px 8px #555;
      outline-style: none;
      background: white;
      color: black;
      font-size: 0.85em;
      height: auto;
      left: 0;
      list-style: none;
      overflow: hidden;
      position: absolute;
      text-align: left;
      top: 25px;
      width: 169px;
      z-index: 666; }
      .dropdown_filter .menuContainer ul.menu {
        margin: 0; padding: 0}
      .dropdown_filter .menuContainer ul.menu * {
        margin: 0;
        padding: 0; }
      .dropdown_filter .menuContainer ul.menu a {
        color: black;
        display: block;
        text-decoration: none; }
      .dropdown_filter .menuContainer ul.menu li {
        border-top: 1px solid #4e647d;
        background: #0A5469;
        height: 29px; }
        .dropdown_filter .menuContainer ul.menu li .menuHover {
          background: #fffee5;
          color: black;
          cursor: default; }
        .dropdown_filter .menuContainer ul.menu li .menuOptionTitle {
          font-weight: bold; }
          .dropdown_filter .menuContainer ul.menu li .menuOptionTitle li {
            border-left: 1px solid #cccccc;
            font-weight: normal; }
          .dropdown_filter .menuContainer ul.menu li .menuOptionTitle ul {
            margin: 3px 0 0; }
        .dropdown_filter .menuContainer ul.menu li .menuSelFocus {
          background-position: auto; }
        .dropdown_filter .menuContainer ul.menu li .menuSelFocus {
          cursor: default; }
        .dropdown_filter .menuContainer ul.menu li a {
          outline-style: none;
          font-weight: lighter;
          font-size: 14px;
          height: 29px;
          line-height: 27px;
          color: white;
          display: block;
          padding-left: 10px; }
          .dropdown_filter .menuContainer ul.menu li a:focus {
            -moz-outline-style: none; }
      .dropdown_filter .menuContainer ul.menu .hiLite {
        color: white; }
        .dropdown_filter .menuContainer ul.menu .hiLite a {
          background: #650101;
          color: white;
          font-size: 14px; }
          
ul.optionsMenu {
  -webkit-box-shadow: 3px 3px 8px #555;
  -moz-box-shadow: 3px 3px 8px #555;
  box-shadow: 3px 3px 8px #555;
  outline-style: none;
  background: white;
  color: black;
  font-size: 0.85em;
  height: auto;
  position: relative;
  list-style: none;
  overflow: hidden;
  text-align: left;
  max-width: 560px;
  z-index: 666; }
  ul.optionsMenu {
    margin: 0 5px; padding: 0}
  ul.optionsMenu * {
    margin: 0;
    padding: 0; }
  ul.optionsMenu a {
    color: black;
    display: block;
    text-decoration: none; }
  ul.optionsMenu li {
    border-top: 1px solid #4e647d;
    background: #0A5469;
    height: 29px; }
    ul.optionsMenu li .menuHover {
      background: #fffee5;
      color: black;
      cursor: default; }
    ul.optionsMenu li .optionsMenuSelFocus {
      background-position: auto; }
    ul.optionsMenu li .optionsMenuSelFocus {
      cursor: default; }
    ul.optionsMenu li a {
      outline-style: none;
      font-weight: lighter;
      font-size: 14px;
      overflow: hidden;
      height: 29px;
      line-height: 27px;
      color: white;
      display: block;
      padding: 0 10px; }
      ul.optionsMenu li a:focus {
        -moz-outline-style: none; }
